//colors
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Audiowide);
$gray: #D4D4D4;
$white: #F7F7F7;
$orange: #FF5336;
$red: #FF2636;
$black: #052636;
body {
	background: $black;
	background-image:url('/images/dark.jpg');
	background-size: 250px 250px;
	font-family: "Oswald", sans-serif;
}
h1 {
	color: $white;
	font-family: "Audiowide", sans-serif;
}
.sound {
	margin: 6px;
	background: $orange;
	border: $red;
	color: $white;
	font-size: 20px;
	text-shadow: 4px 4px $red;
	&:hover {
		color: $white;
		background: $red;
	}
}
#say {
  margin: 20px 0;
}